<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
	<div style="display:flex;flex-flow: column;align-items: center;row-gap: 10px;font-size: 18px;">
       <div>
           <h3>404 Page Not Found</h3> 
       </div>
       <div>
           Page you are looking for is not found.
       </div>
       <div>
           Please make sure you have typed the correct url.
       </div>
    </div>
  </body>
</html>
